/*
This is for the general appearance of the website
 */
body {
    text-align: center;
    background-color: #f7f7f7;
    font-family: "Lato", "Helvetica", Helvetica, sans-serif;
    color: #31333F;
}
a, a:hover, a:visited {
    color: #31333F;
    text-decoration: none;
    -webkit-text-decoration-color: #31333F;
}

header {
    background-color: #eeeeee;
    width: 100%;
    height: 30%;
    position: absolute;
    left: 0;
    top: 0;
}
div.header-section {

}
nav#nav {
    width: 100%;
    background-color: #ffffff;
}
/**
for the logo
 */
nav#nav span svg#logo{
    width: 48px;
    height: 48px;
    position: relative;
    left: 6rem;
    top: 1rem;
}

nav#nav ul.row {
    width: 80%;
}

nav#nav span {
    display: inline-block;
}
/**
For the navigation bar
 */
nav#nav ul.row {
    display: inline-block;
    margin: 0;
    width: 80%;
    padding-left: 5%;
    padding-right: 18%;
}

nav#nav ul.row li.underline {
    display: inline-block;
    list-style: none;
    font-size: 1.8rem;
    font-weight: bolder;
    /*line-height: 0.1em;*/
    letter-spacing: 0.1em;
    vertical-align: middle;
    height: auto;
    width: 104px;
    margin: 2%;
    padding: 6px;
    position: relative;
}

nav#nav ul.row li a:hover {
    color: #afafaf;
    cursor: pointer;
}

li.underline::after {
    width: 0;
    height: 2px;
    display: inline-block;
    background-color: red;
    content: " ";
    position: absolute;
    left: 50%;
    top: 98%;
    transition: left 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), width 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

li.underline:hover::after {
    width: 100%;
    height: 2px;
    display: inline-block;
    background-color: red;
    content: " ";
    position: absolute;
    top: 98%;
    left: 0;
}
/**
为不同的按钮选择不同的颜色
 */
li.underline:nth-child(1)::after{
    background-color: #F7C8DA;
}
li.underline:nth-child(1):hover::after{
    background-color: #F7C8DA;
}
li.underline:nth-child(2)::after{
    background-color: #E4EF91;
}
li.underline:nth-child(2):hover::after{
    background-color: #E4EF91;
}
li.underline:nth-child(3)::after{
    background-color:#C8F7E5;
}
li.underline:nth-child(3):hover::after{
    background-color: #C8F7E5;
}
li.underline:nth-child(4)::after{
    background-color: #CEC8F7;
}
li.underline:nth-child(4):hover::after{
    background-color:#CEC8F7;
}


div.main {
    height: 1100px;
    width: 90%;
    background-color: #ffffff;
    position: relative;
    top: 150px;
    margin: 0 auto;
}
/*for the color-bar*/
div.color-header {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    border-bottom: 1px solid #eeeeee;
    height: 10%;
    max-height: 150px;
}
/*fix the header*/
div.color-header.fixed-header {
    position: fixed;
    top: 0;
    left: 5%;
    width: 90%;
    height: 10%;
    max-height: 120px;
    z-index: 10;
    background-color: #ffffff;
}
div.return-top {
    width: 8%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
}
div.return-top svg#return-top:hover {
    stroke:  #E4EF91;
    cursor: pointer;
}
div.color-demo {
    width: 5rem;
    height: 2.4rem;
    border-radius: 2px;
    background-color: red;
    display: flex;
    display: -webkit-flex;
    align-self: center;
    margin: 0 2.2rem;
}
div.color-data {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 2rem;
}
div.color-data div{
    margin: 0;
    text-align: left;
    width: 20rem;
}
div.color-data div.color-hex {
    width: 18rem;
}
div.color- data div.color-rgb {
    width: 19rem;
}
div.color-data h5{
    display: inline-block;
    color: #c3c3c3;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 1.875rem;
    font-weight: 700;
}
div.color-data span {
    display-inline: block;
    color: #3f3844;
    font-size: 2.125rem;
    letter-spacing: 0.0375rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "proxima-nova-soft", "Proxima Nova Soft", Helvetica, Arial, sans-serif;
}
div.color-download {
    fill: #e1e1e1;
    align-self: center;
}
div.color-download:hover{
    fill: #CEC8F7;
    cursor: pointer;
}
div.color-bar {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}
div.color-demo-item.first-item {
    border-bottom-left-radius: 0.375rem;
    border-top-left-radius: 0.375rem;
}
div.color-demo-item.last-item {
    border-bottom-right-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
}
div.color-demo-item {
    width: 5rem;
    height: 2.4rem;
    margin: 0;
    background-color: red;
}
div.color-item span.color-lock {
    background-image: url(../images/button-lock.svg);
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
}
div.color-item span.color-lock:hover {
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    margin: -3px 0;
    stroke: #e3e3e3;
     box-shadow: 0 0.2rem 0 #C8F7E5;
}
div.color-item span.color-unlock {
    background-image: url(../images/button-unlock.svg);
    display: inline-block;
    width: 24px;
    height: 24px;
}
div.color-item span.color-unlock:hover {
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    margin: -3px 0;
    box-shadow: 0 0.2rem 0 #F7C8DA;
}

/**
For the main color selecting area
 */
#wrap {
    position: relative;
    margin-top: 3%;
}

div#color-hs {
    width: 460px;
    height: 400px;
    display: inline-block;
    position: absolute;
    left: 10%;
}

div#color-hs .color-hs-value {
    display: inline-block;
    position: absolute;
    left: 100px;
    top: 100px;
    background: url("../images/circle-selected-black.gif");
    width: 11px;
    height: 11px;
    cursor: crosshair
}

#color-v {
    width: 40px;
    height: 400px;
    display: inline-block;
    position: absolute;
    left: 52%;
}

#color-v-value {
    position: absolute;
    display: inline-block;
    height: 9px;
    top: 0;
    left: -9px;
    cursor: pointer;
}

#color-v-value .value {
    width: 9px;
    height: 9px;
    display: inline-block;
    position: absolute;
}

#color-v-value .value-l {
    background: url("../images/arrow-l.gif") no-repeat;
}

#color-v-value .value-r {
    background: url("../images/arrow-r.gif") no-repeat;
    left: 48px;
}

div#color-preview {
    width: 160px;
    height: 86px;
    position: absolute;
    left: 60%;
    top: 26%;
    display: inline-block;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #eeeeee;
    cursor: pointer;
}
div#color-detail {
    border: 0.12rem solid #eeeeee;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    position: absolute;
    left: 60%;
    margin-top: 7.19%;
    width: 160px;
    height: 316px;
}
.color-show {
    margin-top: 20px;
}
.color-show span {
    margin-right: 5px;
    width: 80px;
    display: inline-block;
    font-weight: bold;
    color: #0f0f0f;
}
div.color-show div {
    font-size: large;
    font-weight: bold;
    color: #c3c3c3;
    margin-top: 0.3rem;
}
div.color-show div.hex-value, div.color-show div.hsv-value, div.color-show div.rgb-value {
    margin-top: 1.25rem;
}
span.color-show-hex {
    text-transform: uppercase;
}
/**
for the user guide
 */
div.user-guide {
    position: absolute;
    left: 75%;
    text-align: left;
    margin: 0 5rem;
}
div.user-guide section.guide-section {
    color: #c3c3c3;
    margin-bottom: 3.6rem;
}
div.user-guide section.guide-section h5 {
    font-weight: bold;
}
span.guide-lock {
    background-image: url(../images/button-lock.svg);
    width: 20px;
    height: 18px;
    background-size: 20px 18px;
    display: inline-block;
}
span.guide-unlock {
    background-image: url(../images/button-unlock.svg);
    width: 24px;
    height: 18px;
    background-size: 20px 18px;
    display: inline-block;
}

div.guide-content svg.button-svg {
    fill: #c3c3c3;
    stroke: #c3c3c3;
    width: 16px;
    height: 16px;
}

/**
for the color recommending part
 */
div.recommend {
    position: relative;
    top: 38%;
    text-align: left;
    left: 10%;
    max-width: 60rem;
    color: #a1a1a1;
    font-size: 1.6rem;
    font-weight: 700;
}
div.recommend>div{
    display: inline-block;
}
div.color-dropdown {
    position: relative;
    display: inline-block;
    border: 1px solid #eeeeee;
    border-radius: 0.275rem;
    width: 16rem;
    height: 4rem;
    vertical-align: middle;
    padding: 0.8rem 1rem;
}
div.color-dropdown span.caret {
    color: #a3a3a3;
    margin-left: 50px;
    width: 6px;
    height: 6px;
}
div.color-dropdown-content {
    display: none;
    background-color: #ffffff;
    max-width: 60rem;
    width: 16rem;
    border: 1px solid #eeeeee;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    position: relative;
    left: -1rem;
    border-top: none;
    z-index: 8;
}
div.color-dropdown-content ul{
    padding: 0;
}
div.color-dropdown-content ul li {
    list-style: none;
    cursor: pointer;
    text-align: left;
    padding: 0.8rem 1rem;
}
div.color-dropdown-content ul li:nth-child(1) {
    margin-top: 0.3rem;
}
div.color-dropdown-content ul li:hover{
    color: #0f0f0f;
}
div.color-dropdown:hover div.color-dropdown-content {
    display: block;
}
div.export {
    margin-left: 5rem;
    cursor: pointer;
}
div.export svg {
    fill: #eeeeee;
}
div.export svg:hover{
    fill: #0f0f0f;
    margin-left: 0.3rem;
}
div.re-colors {
    position: absolute;
    left: 0;
    top: 155%;
}
div.re-colors div.color-tabs {
    width: 160px;
    border: 1px solid #eeeeee;
    border-radius: 0.5rem;
    height: 160px;
    display: inline-block;
    margin-left: 2rem;
    margin-bottom: 2rem;
}
div.color-tabs div.co-tab {
    width: 100%;
    height: 85px;
    background-color: red;
    cursor: pointer;
}
div.color-tabs div[class^="co-tabs-"]{
    color: #0f0f0f;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 0.5rem;
    margin: 1rem;
    text-transform: uppercase;
}
/****
for the download modal
 */
div.modal-dialog{
    margin: 0;
    text-align: center;
}
div.modal-content {
    width: 140%;
    height: 100%;
    margin-left: 45%;
    margin-top: 10%;
    border: none;
}
div#body-select-download, div#body-recommend-download {
    background-color: white;
}
span.modal-title {
    padding-left: 0.2rem;
    font-weight: bold;
}
div#color-download-bar div.color-item div.color-demo-item {
    width: 12rem;
    height: 6rem;
}
div#recommend-bar div.color-item div.color-demo-item {
    width: 12rem;
    height: 6rem;
}
div.download-data{
    width: 70rem;
    height: 25rem;
    margin: 1rem auto;
}
div.download-data-item {
    text-align: center;
    display: inline-block;
    border: 0.25rem solid #eeeeee;
    border-radius: 2.5%;
    padding-top: 1rem;
    margin-left: 2.15rem;
    float: left;
    width: 30%;
    height: 100%;
}
div.download-data ul{
    padding: 0;
}
div.download-data ul li{
    list-style: none;
    font-size: 1.75rem;
}
div.modal-footer{
    padding: 2rem auto;
    text-align: center;
    background-color: #1b6d85;
    color: white;
    font-size: 1.875rem;
    font-weight: 600;
    cursor: pointer;
}
div.modal-footer:hover{
    background-color: #4cae4c;
}

/***************************************************************************************************
for the recommend-color.html
 ****************************************************************************************************/
header.recommend {
    height: 10%;
}
/**for the color blocks*/
div.color-blocks {
    position: absolute;
    top: 9.5%;
    left: 0;
    width: 100%;
    height: 90.5%;
    overflow:hidden;
}
div.cblock {
    width: 20%;
    height: 25%;
    float: left;
    font-size: 1.485rem;
    font-weight: 500;
    color: #0f0f0f;
}
div.cblock.explaination label{
    position: relative;
    margin-top: 10%;
    font-size: 1.585rem;
}
div.cblock div.inner-cblock{
    width: 100%;
    height: 100%;
    color: white;
    position: relative;
}
div.cblock div.inner-cblock:hover {
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -ms-transform: scale(0.9, 0.9);
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
}
div.cblock div.inner-cblock label {
    position: static;
    margin-top: 10%;
}
div.cblock div.inner-cblock svg {
    fill: rgba(222, 222, 222, 0.5);
    left: 82%;
    top: 69%;
    width: auto;
    height: auto;
    display: inline-block;
    position: absolute;
}
div.cblock div.inner-cblock.svg-click svg {
     -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    fill: white;
}

div.re-sidebar {
    width: 0;
    background-color:#374046;
    height: 90.5%;
    position: absolute;
    left: 50%;
    top: 9.5%;
    transition: width 500ms ease-in-out;
}
/**
for the app demo
 */
div.re-sidebar div.app-demo {
    width: 66%;
    height: 76%;
    position: absolute;
    background-color: red;
    left: 18%;
    top: 5%;
}
div.app-demo div.app-header div.app-status {
    position: absolute;
    width: 100%;
    height: 6%;
    background-color: #f5e79e;
}
div.app-demo div.app-header div.app-toolbar {
    position: absolute;
    top: 6%;
    width: 100%;
    height: 50%;
    background-color: #eeeeee;
}
div.app-demo div.app-toolbar div.app-toolbar-heading {
    display: none;
    position: absolute;
}
div.app-toolbar-heading svg.app-left-tool {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
}
div.app-toolbar-heading svg.app-right-tool {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}
div.app-toolbar-heading svg[class^="app-"]:hover {
    -webkit-transition: 200ms;
    transition: 200ms;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
div.app-toolbar-heading div.app-title {
    position: relative;
    top: 8rem;
    left: 8rem;
    font-size: 3.2rem;
    font-weight: 700;
    text-align: left;
}
div.app-toolbar-heading div.app-subtitle {
    position: relative;
    top: 8.4rem;
    left: 8rem;
    font-size: 1.5rem;
    text-align: left;
}

div.app-button {
    display: none;
    position: absolute;
    left: 80%;
    top: 51%;
    z-index: 6;
    width: 56px;
    height: 56px;
    border-radius: 100%;

}
div.app-button:hover {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    transition-duration: 200ms;
    -webkit-transition-duration: 200ms;
}
div.app-button svg{
    margin-top: 6px;
    display: inline-block;
    width: 42px;
    height: 42px;
    fill: white;
}

div.app-demo div.app-content {
    top: 56%;
    height: 44%;
    position: absolute;
    width: 100%;
    background-color: white;
    rgba(0, 0, 0, 0.84);
    text-align: left;
}

div.app-demo div.app-content ul.app-list li:nth-child(1){
    list-style: none;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 50%;
    border-bottom: 1px solid #eeeeee;
}
div.app-demo div.app-content ul.app-list li:nth-child(2){
    list-style: none;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    height: 50%;
}
div.app-content ul.app-list li span {
    display: inline-block;
    fill: #727272;
    float: left;
    margin-top: 5.5%;
    margin-left: 2rem;
    margin-right: 2rem;
}
div.app-content ul.app-list li p.primary-text {
    color: #212121;
    font-size: 2.15rem;
    font-weight: 500;
    position: relative;
    margin-top: 4.6%;
    margin-bottom: 0;
}
div.app-content ul.app-list li p.secondary-text {
    color: #757575;
    font-size: 1.575rem;
    font-weight: 500;
     position: relative;
}
/**
选择好的推荐色块
 */
div.re-color-zone {
    position: absolute;
    bottom: 0;
    right: 5%;
    width: 90%;
    height: 12%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
    -webkit-transition: height 200ms ease-in;
    transition: height 200ms linear;
}
div.re-color-zone div.re-color-toolbar {
    position: absolute;
    width: 100%;
    height: 16%;
    top: 0;
    left: 0;
   padding: 0.75rem;
    color: white;
    font-size: 1.75rem;
    font-weight: 500;
    vertical-align: middle;
    background-color: #374046;
}
div.re-color-toolbar .hide-toolbar{
    float: left;
    margin-left: 0.5rem;
}
div.re-color-toolbar .download-toolbar{
    float: right;
    margin-right: 0.5rem;
    cursor: pointer;
}
div.re-color-toolbar svg{
    width: 20px;
    height: 20px;
    fill: white;
}
div.re-color-toolbar svg.hide-toolbar{
    transform: rotate(180deg);
}
div.re-color-toolbar svg.hide-toolbar:hover{
    -webkit-transition: 200ms;
    transition: 200ms;
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
}
div.re-color-zone div.re-color-list {
    position: absolute;
    width: 100%;
    height: 84%;
    top: 16%;
    left: 0;
    display: none;
}
div.re-cblock {
    float: left;
    width: 25%;
    height: 50%;
    text-transform: uppercase;
}
div.re-cblock label{
    color: white;
    text-align: center;
}
label.color-tip {
    margin-top: 0.5rem;
    position: relative;
    font-weight: 500;
    text-transform: uppercase;
}

































/*footer {*/
    /*width: 100%;*/
    /*height: 200px;*/
    /*top: 0;*/
    /*left: 0;*/
    /*background-color: #eeeeee;*/
/*}*/









